{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta chars-set="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 auto scale factor=1"
    />
    <title>records</title>
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'all.min.css'%}" type="text/css">

    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>

    <script type="text/javascript" src="{%static 'scripts.js'%}"></script>
    <!--<script type="text/javascript" src="{%static 'chart.min.js'%}"></script>-->
    <script type="text/javascript" src="{%static 'jquery.min.js'%}"></script>
  </head>
  <body>
    {%block content%}
    <div class="container-md" id="background">
        <h1>alloo this background</h1>
    </div>
    {%endblock%}
</body>
</html>