{%load static %}
<!-- Template Main CSS File -->
  <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css">
    <!--<link rel="stylesheet" href="{%static 'all.css'%}" type="text/css-->
    <link rel="stylesheet" href="{%static 'all.min.css'%}" type="text/css">

    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>

    <script type="text/javascript" src="{%static 'scripts.js'%}"></script>
    <!--<script type="text/javascript" src="{%static 'chart.min.js'%}"></script>-->
    <scrip type="text/javascript" src="{%static 'jquery.min.js'%}"></script>

  <link href="{%static 'admin/css/adminlte.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css.map'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.min.css'%}" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8 strict" />
        <meta name="viewport" content="width=device API 2.1, maximum=device-width 800 x 800, user-scalable= yes" />
        <title>footer</title>
    </head>
    <body>
    <footer class="container bg-secondary" id="footer">
    <p class="float-end"><a href="#" class="nav-link" style="margin-left:15px">Back to top</a></p>
    <p>&copy; PRMS v2.0,  All Right Reserved, Inc.&reg; Developed & maintained by Greyson Peter Contact me on <a href="tel: +255 752 943 225" >call</a><a href="#" style="float: right; margin-left:15px">Terms</a></p>
  </footer>
    </body>
 </html>
