{%extends "base.html" %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0", maximum scale="1"/>
    <title>home</title>
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'all.min.css'%}" type="text/css">
    <link href="{%static 'chart.js/Chart.css'%}" rel="stylesheet">
   <link href="{%static 'chart.js/Chart.min.css'%}" rel="stylesheet">

    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>

    <script type="text/javascript" src="{%static 'scripts.js'%}"></script>

   <script src="{% static 'chart.js/Chart.bundle.js' %}"></script>
   <script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>
   <script src="{% static 'chart.js/Chart.js' %}"></script>
   <script src="{% static 'chart.js/Chart.min.js' %}"></script>
    <scrip type="text/javascript" src="{%static 'jquery.min.js'%}"></script>
  </head>
  <body onload="home();">
    {%block content%}
    <br>
   <div class="container-fluid justify-content-center">
    <div class="row">
     <div class="col-md-3" style="justify-content:center; display:flex" id="div1">
                <div class="card" style="background-color:#FAEBD7;">
                    <label for="card-title"><h4>Reception & Admission <i class="fas fa-bell float-end"></i></h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                       <a href="{%url 'reception'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
        </div>
         <div class="col-md-3" style="justify-content:center; display:flex" id="div2">
                <div class="card" style="background-color:#FAEBD7;">
                    <label for="card-title"><h4>patient records EHR</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                      <a href="{%url 'demographic'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

             <div class="col-md-3" style="justify-content:center; display:flex" id="div3">
                <div class="card" style="background-color:#FAEBD7;">
                    <label for="card-title"><h4>prescription & medication</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                        <a href="{%url 'medication'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

             <div class="col-md-3" style="justify-content:center; display:flex" id="div4">
                <div class="card" style="background-color:#FAEBD7; ">
                    <label for="card-title"><h4>Test and Lab result</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                        <a href="{%url 'Test'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
                {%for i in app%}
             <div class="col-md-3" style="justify-content:center; display:flex" id="div5">
                <div class="card" style="background-color:#bbc9a5;">
                   <label for="card-title"><h4>Book appointment</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                       <a href="{%url 'appointment' i.patient_number%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            {%endfor%}
            <div class="col-md-3" style="justify-content:center; display:flex" id="div6">
                <div class="card" style="background-color:#bbc9a5;">
                   <label for="card-title"><h4>Accoutants</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                       <a href="#" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="justify-content:center; display:flex" id="div7">
                <div class="card" style="background-color:#bbc9a5;">
                   <label for="card-title"><h4>pharmacy</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                       <a href="#" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="justify-content:center; display:flex" id="div8">
                <div class="card" style="background-color:#bbc9a5;">
                   <label for="card-title"><h4>appointment management</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                       <a href="{%url 'manage_appointment'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

             <div class="col-md-3" style="justify-content:center; display:flex" id="div9">
                <div class="card" style="background-color:lightgray;">
                   <label for="card-title"><h4>Admin and staff management</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                        <a href="{%url 'RegDoc'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

             <div class="col-md-3" style="justify-content:center; display:flex" id="div10">
                <div class="card" style="background-color:lightgray;">
                   <label for="card-title"><h4>discharge</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                        <a href="{%url 'discharge'%}" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

             <div class="col-md-3" style="justify-content:center; display:flex" id="div11">
                <div class="card" style="background-color:lightgray;">
                    <label for="card-title"><h4>Feedback and survey</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                        <a href="#" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

             <div class="col-md-3" style="justify-content:center; display:flex" id="div12">
                <div class="card" style="background-color:lightgray;">
                    <label for="card-title"><h4>communication & messaging</h4></label>
                    <div class="card-body">
                        <p class="card-text">Ensure the proper use of the system for better performance</p>
                        <a href="#" class="small-box-footer text-success fs-5 text-decoration-none">Check In <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            {% comment %} chart canvas goes here {% endcomment %}
    <canvas class="my-4 w-100 h-50 chartjs-render-monitor" id="myChart" 
      style="display: block;"></canvas>
    </div>
 </div>
</div>
{%endblock%}
{% comment %}#F0F8FF;#7FFFD4; bisque;#78adc2;#94bfac;cadetblue;cornflowerblue;cyan;azure;{% endcomment %}
</body>
</html>
