{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta chars-set="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 auto scale factor=1"
    />
    <title>records</title>
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'all.min.css'%}" type="text/css">

    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{%static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>

    <script type="text/javascript" src="{%static 'scripts.js'%}"></script>
    <!--<script type="text/javascript" src="{%static 'chart.min.js'%}"></script>-->
    <script type="text/javascript" src="{%static 'jquery.min.js'%}"></script>
  </head>
  <body>
    <main class="main-content">
    <center><h4 style="color:blue">patient medical history</h4></center>
    <form class="form">
      <br>
      <h5>patient past illnesses</h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">underlying cause</th>
              <th scope="col">diagnosis date</th>
              <th scope="col">period persistance</th>
              <th scope="col ">efforts already taken</th>
              <th scope="col">supporter</th>
              <th scope="col">satisfication</th>
            </tr>
          </thead>
           <tbody>
            <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            </tr>
           </tbody>
        </table>
      </form>
</div>
      <form class="form">
        <br>
        <h5>known allergies</h5>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">type</th>
              <th scope="col">date of diagnosis</th>
              <th scope="col">adverse reaction</th>
              <th scope="col ">supporter</th>
              <th scope="col">satisfication</th>
              
            </tr>
          </thead>
           <tbody>
            <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
    
            </tr>
           </tbody>
        </table>
      </div>
      </form>

      <form class="form">
        <br>
        <h5>medication history</h5>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ill Name</th>
              <th scope="col">date diagnosed</th>
              <th scope="col">persistence time</th>
              <th scope="col">frequency</th>
              <th scope="col ">dosage</th>
              <th scope="col">start date</th>
              <th scope="col">end date</th>
            </tr>
          </thead>
           <tbody>
            <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            </tr>
           </tbody>
        </table>
      </div>
      </form>

      <form class="form">
        <br>
        <h5>vital signs</h5>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> Name</th>
              <th scope="col">date taken</th>
              <th scope="col">rate</th>

            </tr>
          </thead>
           <tbody>
            <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
           
            </tr>
           </tbody>
        </table>
      </div>
        <form class="form">
        <br>
        <h5>Lab & Test results</h5>
        <div class="table-responsive">
        <table class="table table-striped" border="1">
          <tbody>
            <tr>
              <th>TEST NUMBER</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              
            </tr>

            <tr>
              <td>date sample taken</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>

            <tr>
              <td>date result return</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>

            <tr>
              <td>date result given to client</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>

            <tr>
              <td>HVL result (copies/ml)</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>

            <tr>
              <td>date initiated EAC***</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>

            <tr>
              <td>date completed EAC***</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>

            <tr>
              <td>date  2nd HVL test after EAC***</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
              <td>data 1</td>
            </tr>
          </tbody>
        </table>
      </div>
        
      <form class="form">
        <br>
        <h5>consultation and support report</h5>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">patient name</th>
              <th scope="col">date </th>
              <th scope="col"> time</th>
              <th scope="col">comm mode</th>
              <th scope="col ">consultant name</th>
              <th scope="col">contacts</th>
           
            </tr>
          </thead>
           <tbody>
            <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
           
            </tr>
           </tbody>
        </table>
      </div>
      </form>

      
      <form class="form">
        <br>
        <h5>Legal & consent form</h5>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">client Name</th>
              <th scope="col">date </th>
              <th scope="col">time</th>
              <th scope="col">reason</th>
              <th scope="col ">commitment</th>
              <th scope="col">signature</th>
              
            </tr>
          </thead>
           <tbody>
            <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            
            </tr>
           </tbody>
        </table>
      </div>
      </form>
    </main>
  </body>
</html>
